body{
  background-image: url(./bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 5%; 
  margin: 0 auto;
  color: #a2834e;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.highlight {
  color: #a2834e;
}

.typewriter {
  text-align: center;
  padding-top: 19%;
  font-size: 4vw;
  flex: 1;
  color: #FFF; 
  display: inline-block;
}

.tagline {
  font-size: 2.0em;
  line-height: 1.3em;
  font-weight: normal;
  margin-top: 100px;
  color: #FFF; 
}

.details {
  flex: 1;
  display: inline-block;
}

a{
  color: #a2834e; 
  text-decoration: none;
}
a:hover {
  color: #FFF; 
}

.name-placeholder{
  padding-top: 23%;
}

.description-placeholder {
  margin-left: 10px;
}
            
p,h1 {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  line-height: 1.4em;
                text-transform: capitalize;
                text-decoration: none;
                letter-spacing: 3px;
                font-weight: 400;
                font-style: normal;
                color: #a2834e;
                margin-bottom: 16px;
            }
            h1{
                font-size: 100px;
                font-size: 2vw;
                line-height: 1em;
                text-transform: uppercase;
                font-weight: 100;
            }
            /* For small screens */ 
            @media only screen and (max-width : 768px) {
                div {
                    width: 90%;
                }
                .name-placeholder{
                    padding-top: 90%;
                }
                h1{
                    font-size: 140px;
                    font-size: 4vw;
                    line-height: 1em;
                }
                .description-placeholder {
                   margin-left: 5px;
                }
                .description-placeholder a:last-child {
                    display: block;
                }
            }



